{% extends "base.html"%}
{% load static %}

{% block title %}
    Projects
{% endblock title %}

{% block content %}

<section class="projects-section center-column">

        <h2>Projects</h2>

        <div class="projects-list">
            <!--All the cards-->

        {% for project in projects %}
            <div class="project-card">
                <a href="{{project.repository}}" target="_blank">
                    <img src="{{project.image.url}}">
                    <p>{{project.name}}</p>
                    <p>My Coffee Blog Project is a simple web application 
                        built in VS Code that showcases different coffee types, 
                        brewing methods, and blog posts. It highlights core front-end 
                        development skills using HTML, CSS, and JavaScript to create 
                        an inviting and interactive layout for coffee enthusiasts. </p>
                    <p>YYYY</p>
                    
                    <div class="skills-container center">
                    {% for skill in project.skills.all %}
                        <label class="text-label">Skill</label>
                    {% endfor %}
                    </div>
                </a>
            </div>
            {% endfor %}


        </div>

    </section>


{% endblock content %}