{% extends "base.html"%}
{% load static %}
{% block title %}
    Experience
{% endblock title%}

{% block content %}
    <section class="experience-section center-column">
        <h2>Experience | Education</h2>

        <div class="experience-list">

            <div class="experience-card">
                <p>San Diego Global Knowledge University</p>
                <p>FSDI 116 / Full Stack Software Development</p>
                <p>The Full Stack Software Development course at SDGKU 
                    provides hands-on training in both front-end and back-end 
                    technologies. Students learn to build dynamic web applications 
                    using HTML, CSS, JavaScript, Python, Flask, Django, and React 
                    while gaining real-world project experience.</p>
                <p>May 2025 - Dec 2025</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>

            </div>

 

            </div>

        </div>

    </section>
{% endblock content %}